.App{
	background-image: url(../utils/food.jpeg);
	background-size: cover;
	background-attachment: fixed;
}

.stores-list,
.cuisines-list,
.dishes-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	padding: 2vw 5vw;
	min-height: calc(100vh - 64px)
}

.store-card {
	margin: 3vh 3vw;
}

.store-card-button {
	display: flex;
	justify-content: flex-end;
}

.register-page {
	min-height: calc(100vh - 64px);
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 10vh;
	flex-wrap: wrap;
}

.register-form{
	width: 40vw;
}

.login-form{
	width: 35vw;
}

.register-form-button{
	display: flex;
	justify-content: center;
}

